extends layout 

block content
    title= title
    h1 Shopee 
    
    tr 
        th id 
        th name 
        th price 
        th type 
        th star 
        th sold 
        th form 
        th img_src 
        th url 
    tbody   
        each value in objectJson 
         
